{% extends 'feed.html' %} {% block title %} {{username}}'s home {% endblock %}


{% block navbaritems %}
          <a class="nav-item nav-link" href={{url_for('routes.feed', username=username)}}
            >Home <span class="sr-only"></span></a
          >
          <a class="nav-item nav-link active" href={{url_for('routes.home', username=username)}}>profile</a>
          
          <a class="nav-item nav-link" href='#'>post</a>
          <a class="nav-item nav-link" href='#'>messages</a>
          
          
          
          

          <a class="nav-item nav-link" href={{url_for('auth.logout')}}>sign out</a>
          <a type="button" class="nav-item nav-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Delete Account
          </a>
          
          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">WARNING!</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to delete?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
                  <a type="button" class="btn btn-danger" href={{url_for('routes.delete')}}>DELETE</a>
                </div>
              </div>
            </div>
          </div>
          <form method="POST" action="" class="d-flex">
            
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
            <button type="submit" class="btn btn-outline-success">search</button>
        </form>
        <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
  
        </ul>
          {% endif %}
          {% endwith %}
          
          {%endblock%}
