{% extends "home.html" %} {% block title %} Make a Post {% endblock %} {% block
    display %}
    <h1 align="center">Posts</h1>
    
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-light text-black-50" style="border-radius: 1rem">
            <div class="card-body p-5 text-center">
              <div class="mt-md-4 pb-5">
                <form
                    action="{{url_for('routes.post', username=username)}}"
                    enctype="multipart/form-data"
                    method="POST"
                >
                <form method="POST" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                  <textarea
                    name="post"
                    id="post"
                    class="form-control"
                    rows="10"
                  ></textarea>
                  <br />
                  <div align="center">
                    <button type="submit" class="btn btn-outline-success">
                      Add Post
                    </button>
                  </div>
                  <div align="right">
                    {{current_user.image}} {{ form.image.label(class =
                    "form-label", style = "float: left") }} {{ form.image(class =
                    "form-control")}}
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    {%endblock%}
    