{% extends "home.html" %} {% block title %} Make a Post {% endblock %} 
{% block post %}
<h1 align="center">Posts</h1>

<ul class="list-group list-group-flush" id="posts">
    {% for post in user.posts %}
    <li class="list-group-item">{{ post.data }}</li>
    {% endfor %}
</ul>
<form method="POST">
  <textarea name="post" id="post" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Post</button>
  </div>
</form>

<p class="text-white-50">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}

    </ul>
      {% endif %}
      {% endwith %}</p>  
    {% endblock %}